.bdep/

# Local default options files.
#
.build2/local/

# Compilation database.
#
compile_commands.json

# NVRAM state file libtpms writes to the current directory when a TPM 2
# instance is initialized (e.g. by running the basics test).
#
NVChip
